/* Color Variables */
@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #1e2454;
  }

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ef3633;
  }

  @property --tertiary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #6a6a6a;
  }


/* Actual Styling */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    background-color: var(--primary-color);
    color: white;
    padding: 0 2%;
    font-size: 1.5em;
}

.nav_icon {
    text-decoration: none;
    color: white;
}

.nav_text {
    font-weight: 800;
}

hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 86vh;
    background-image: url("../images/bigbeautifulbeach.jpg");
    background-size: cover;
    color: #141414;
    text-align: center;
    padding: 0 10%;

}

.hero_headshot {
    position: absolute;
    top: 10vh;
    right: 5vw;
    height: 200px;
    width: 200px;
    background-image: radial-gradient(circle 100px at 50%, lightyellow, yellow, orange);
    border-radius: 50%;
}

.hero_headshot_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: lightyellow 1px -1px 10px 20px;

}

.hero_content {
    font-size: 2em;
    color: white;
}

.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
    background-color: var(--tertiary-color);
    height: 96vh;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 44vh;
    background-color: white;
    padding: 1em;
}

.about_img {
    object-fit: contain;
    height: 40vh;
    border-radius: 10%;
    box-shadow: var(--tertiary-color) 1px -1px 10px -3px;
}

.about_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    width: 70%;
    height: 100%;
}

.about_header {
    font-size: 2em
}

.about_text {
    font-size: 1.5em
}

.issues {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 44vh;
    background-color: white;
    padding: 1em;
}

.issues_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    width: 70%;
    height: 100%;
}

.issues_header {
    font-size: 2em;
}

.issues_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.issues_list_item {
    font-size: 1.5em;
    text-align: left;
    list-style-type: disclosure-closed;
    margin: 0 5px;
}

.issues_img {
    height: 40vh;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: var(--tertiary-color) 1px -1px 10px -3px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4vh;
    background-color: var(--primary-color);
    color: white;
    width: 100%
}

.builtby {
    position: absolute;
    color: white;
    right: 1em;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    main {
        padding: 0;
        height: 100%;
    }

    .divider {
        font-size: 1em;
    }

    .about {
        height: 100%;
    }

    .issues {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .issues_content {
        width: 100%;
        
    }

    .issues_img {
        margin-top: 2em;
    }
}

@media screen and (max-width: 800px) {
    .about_img {
       display: none; 
    }
}

@media screen and (max-width: 600px) {
    .issues_img {
        height: auto;
        width: 80vw
    }

    .hero_content {
        font-size: 1.5em;
    }

    .issues_list_item {
        margin 0 5px;
    }

    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-size: .8em;
    }

    .hero_headshot {
        height: 150px;
        width: 150px;
    }

    .hero_headshot_img {
        height: 150px;
        width: 150px;
    }
}