/* Color Variables */
@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #1e2454;
  }

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ef3633;
  }


/* Actual Styling */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
    background-color: var(--primary-color);
}

.nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 20%

}

.nav_link {
    text-decoration: none;
    color: white
}

hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #ffffff;
    color: #141414;

}

.divider {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: var(--secondary-color);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.issues {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    height: 10vh;
    background-color: var(--primary-color);
    color: white;
    width: 100%
}