/* Color Variables */
@property --primary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #1e2454;
  }

@property --secondary-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ef3633;
  }


/* Actual Styling */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 4vh;
    background-color: var(--primary-color);
}

.nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 20%

}

.nav_link {
    text-decoration: none;
    color: white
}

hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
    background-image: url("https://floridatrippers.com/wp-content/uploads/2022/03/things-to-do-in-indian-rocks-beach-city.jpg");
    background-size: cover;
    color: #141414;
    text-align: center;

}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44vh;

}

.issues {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44vh;
}

.issues_content {
}

.issues_list {
}

.issues_list_item {
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4vh;
    background-color: var(--primary-color);
    color: white;
    width: 100%
}